body
{
    background-color: #cfd0d1 !important; 
    color: rgb(85, 83, 83);

}

.container-rank{
    justify-content: space-around;
    padding-top: 10px;
    margin-bottom: 30px;
    width: 70%;
    margin-left: 15%;
}
.course_group{
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgb(110,94,254)0%, rgba(73,63,252,1)100%);
    border-radius: 20px;
}

.ranking{
    /* font-size: 50px !important;
    text-align: center !important;
    text-shadow: -1px 0 rgba(85, 83, 83);
    color: white;
    margin: 5px !important;
    padding: 5px ; */
    text-shadow: -1px 0 white;
  color: rgba(85, 83, 83);
  text-align: center !important;
  font-size:4.2em;
  border-color:#6d76f7;
  font-weight: bold;
}
h3{
    text-align: center !important;
    width: 20% !important;
    font-size: 30px !important;
}
.ramainingMoney{
    padding: 20px;
    color:  #cfd0d1 ;
    font-size: 30px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #cfd0d1;
    padding: 20px;
    /* width: 300px; */
    height: 130px;
    margin-top: 15px;
    margin-left: 15px;

  }
.ramainingTime{
    color:  rgb(59, 59, 59);
    font-size: 35px;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
 
}
.course_group .item{
    /* width: 90%; */
    height: 80px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2) ;
    margin:10px;    
}
.course_group .item-title{
  /* width: 90%; */
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.course_group .item-details{
  /* width: 90%; */
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.course_group .item .name{
    /* width: 600px; */
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    text-align-last: center;
}

.course_group .item .index{
    width: 20px;
    display: flex;
    font-size: 1.5rem;
}
.course_group .item .money{
  margin-right: 10px;
}

  .slide {
    display: flex;
    width: 300px;
  }
  input {
    display: flex;
    width: 250px;
  }
  .value {
    width: 50px;
  }

  .title {
    display: grid;
    grid-template-columns: 2fr 3fr 0.3fr;
    grid-gap: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
    background: linear-gradient(90deg, rgb(110,94,254)0%, rgba(73,63,252,1)100%);
    border-radius: 20px;
  }
  .whiteLines{
    margin-left:20px;
    margin-right: 30px;
    margin-bottom: 20px;

  }
.info{
  /* color:  #cfd0d1; */
  color: rgba(85, 83, 83);;
  font-size: 28px;
  margin-right: 50px;
  text-align: center;
  margin-bottom: 5px;
  text-shadow: -1px 0 white;
}

input[type='number']{
  width: 50px;
  border: none;
  outline: none;
}

.input-border{
  padding: 4px 3px 4px 0px;
  margin: 3px;
  background-color: white;
  border-radius: 10px;
  
}

.dropdown {
  width: max-content;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease-in-out;
}

select:focus {
  border-color: #6c63ff;
}

option {
  padding: 8px;
  font-size: 16px;
}

.button-nice {
  display: inline-block;
  width:fit-content ;
  height: fit-content;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border-color: #413e77;
  background-color: #fff;
  color: #6c63ff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button-nice:hover {
  background-color: #4f48d6;
}

.button-nice:focus {
  outline: none;
  box-shadow: 0 0 0 2px #6c63ff;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.rowC{
  display:flex; flex-direction:row;
  direction: rtl;
}