.NavbarItems{
    background: linear-gradient(90deg, rgb(110,94,254)0%, rgba(73,63,252,1)100%);
    display: flex;
    justify-content: center;
    align-items: right;
    font-size: 1.3rem;
}

.navbar-logo{
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    font-size: 3rem
}

.fa-react{
     margin-left: 0.5rem;
    font-size: 1.3rem;
    display: block;
    margin-left: 40px;
    margin-right: auto;
    width: 100px;
}

.nav-menu {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
li {
    border-right: 2px solid #bbb;
    margin-left: 2px;
  }

.nav-links:hover {
    background-color: #6d76f7;
    border-radius:3em;
    display: inline-block;
    transition: all 0.2s ease-out;
    text-decoration: none;

}

.menu-icon{
    display: none;
}
.logo2{
   width: 220px;
   margin-top: 10px;
   color: rgb(231, 226, 226);
   margin-left: 20px;
   font-display: center;
    font-size: 40px;
}

@media screen and (max-width: 960px){
    .NavbarItems{
        position: relative;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5 ease;
    }
    
    /* .nav-menu active{
        background-color:red;
        color: red;
        left: 0;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 1;
    } */

    .nav-links{

        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover{
        background-color: #7577fa;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top:0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}