table {
    margin-top: 50px;
    margin-left: 10%;
    align-items: center;
}

th  {
    height: 120px;
    text-align: center; 
    vertical-align: middle;
}

 tr {
    height: 120px;
    text-align: center; 
    vertical-align: middle;
}
