.App {
  min-height: 100vh;
background: rgba(212, 207, 207, 0.836);
/*background: linear-gradient(80deg, rgba(114,117,121,1) 0%, rgba(230,220,220,1) 70%);*/
  text-align: right;
}
/* h1{
  text-shadow: -1px 0 #6d76f7;
  font-family:"Calibri (Body)";
  color: white;
  border-color:#6d76f7;
  font-size: 60px !important;
} */
h2{
  text-align: right !important;
  margin-top: 30px;
  color: rgb(85, 83, 83);
}

/* .App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
} */
.Headline {
  text-shadow: -1px 0 white;
  color: rgba(85, 83, 83);
  text-align: center !important;
  font-size:3.8em;
  border-color:#6d76f7;
  margin-bottom: 70px;
  margin-top: 20px;
  font-weight: bold;
}

.layout{
  display: grid;
  margin-right: 10%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


.semester-button{
  background: white;
  border: 1px solid black;
  border-radius: 20px;
  display: inline;
  font:  28px Arial, Helvetica, sans-serif;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 50px;
  height: 80px;
  width: 200px;
  font-size: large;
}

.courses{
  text-align: center;
  margin-left: 200px;
  color: rgb(85, 83, 83);
  text-shadow: -1px 0 rgb(85, 83, 83);
  border: 4px solid rgb(85, 83, 83);
  margin-bottom: 5px;
  padding-bottom: 15px;
  border-radius: 15px;
  font-size: 20px;
  
}

ul {
  text-align: right;
  }

.itemName{
  padding-top: 10px;
  background-color: white;
  height: 45px;
  border-radius: 20px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2) ;
  font-size: 1.3rem;
  display: flex;
  margin:10px;
  justify-content: space-between;
  align-items: center;
}

.itemName:hover{
  background-color: #6d76f7;
  border-radius: 4px;
  transition: all 0.2s ease-out ;
  cursor: pointer;
}

.layout-button{
  display: grid;
  grid-template-columns: 8fr 1fr 1fr 1fr 8fr;
}