.App {
  min-height: 100vh;
  background-color: #f8f9fa;
/*background: linear-gradient(80deg, rgba(114,117,121,1) 0%, rgba(230,220,220,1) 70%);*/
  text-align: right;
}
/* h1{
  text-shadow: -1px 0 #6d76f7;
  font-family:"Calibri (Body)";
  color: white;
  border-color:#6d76f7;
  font-size: 60px !important;
} */
h2{
  text-align: right !important;
  margin-top: 30px;
  color: rgb(85, 83, 83);
}

/* .App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
} */
.Headline {
  text-shadow: -1px 0 white;
  color: rgba(85, 83, 83);
  text-align: center !important;
  margin-bottom: 70px;
  margin-top: 50px;
  font-weight: bold;
}

.layout{
  display: grid;
  margin-right: 10%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.enter-right{
  margin-right: 10%;

}

.list-scroll{
  max-width: max-content; max-height: 350px
}
.courses{
  margin-left: 200px;
  margin-bottom: 5px;
  padding-bottom: 15px;
  border-radius: 15px;
  
}

ol {
  width: max-content;
}

ul {
  text-align: right;
  }


.itemName{
  padding-top: 10px;
  height: 45px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemName:hover{
  background-color: #6d76f7;
  border-radius: 4px;
  transition: all 0.2s ease-out ;
  cursor: pointer;
}

.Row{
  display: grid;
  margin-left: 20%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.try{
  background: white;
  border: 1px solid  rgba(182, 182, 182, 0.836);
  color: rgba(85, 83, 83);
  font-weight: bold;
  border-radius: 20px;
  font:  28px  ;
  height: 80px;
  width: 220px;
  margin: auto;
}
.con-btn
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
  width: 20%;
}