.App {
  padding: 20px;
  min-height: 100vh;
  background-color: #cfd0d1;
  color: rgb(85, 83, 83);
  text-align: right;
}
h1{
  color: black !important;
  font-size: 60px !important;
}
h2{
  text-align: right !important;
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


.semester-button{
  background: #11c3ff linear-gradient(to bottom, transparent, #009bcf);
  border: 1px solid white;
  border-radius: 5px;
  display: inline;
  color: white;
  font: bold 12px Arial, Helvetica, sans-serif;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.courses{
  text-align: center;
  margin-left: 200px;
  color: black;
  border: 6px solid black;
  margin-bottom: 5px;
  padding-bottom: 15px;
}

ul {
  text-align: right;
  }

.itemName{
  font-size: 1.5rem;
  padding-right: 50px;
  padding-top: 10px;
}

.itemName:hover{
  background-color: #6d76f7;
  border-radius: 4px;
  transition: all 0.2s ease-out ;
  cursor: pointer;
}

